.firstsection {
    background-image: url('../../../assets/banner-photo.jpg');
    background-size: cover;
    background-position: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 76px;
    

    &__title {
        // width: 301px;
        white-space: pre-wrap;
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        color: #ffffff;
        line-height: 1.13;
        font-weight: normal;
        
    }

    &__description {
        margin-top: 29px;
        width: 327px;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: #ffffff;
        font-weight: normal;
    }

    &__button{
        margin-top: 26px ;
        margin-bottom: 75px;
        width: 210px;
        height: 38px;
        border-radius: 4px;
        background-color: #ef5b4c;
        color: white;
        font-size: 16px;
        text-align: center;
        padding: 7px;
        text-decoration: none;

    
    }

}
.wrap{
    width: 327px;
}
